/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/app/facturacion_electronica/firma_digital
/app/facturacion_electronica/enviador/QuijoteLuiClient/.idea
/app/facturacion_electronica/enviador/QuijoteLuiClient/build
/app/facturacion_electronica/enviador/QuijoteLuiClient/lib
/app/facturacion_electronica/enviador/QuijoteLuiClient/nbproject
/app/facturacion_electronica/enviador/QuijoteLuiClient/src
/app/facturacion_electronica/enviador/QuijoteLuiClient/dist/javadoc
/app/facturacion_electronica/enviador/QuijoteLuiClient/.gitignore
/app/facturacion_electronica/enviador/QuijoteLuiClient/build.xml
/app/facturacion_electronica/enviador/QuijoteLuiClient/manifest.mf
/app/facturacion_electronica/enviador/QuijoteLuiClient/QuijoteLuiClient.iml
/app/facturacion_electronica/enviador/QuijoteLuiClient/README.md
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/.idea
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/build
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/dist/javadoc
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/lib
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/nbproject
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/src
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/.gitignore
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/build.xml
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/LICENSE
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/manifest.mf
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/QuijoteLuiFirmador.iml
/app/facturacion_electronica/firmador/QuijoteLuiFirmador/README.md
/storage
