/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
importar_costos.xlsx
.phpunit.result.cache
/app/facturacion_electronica/firma_digital
/storage
